name: Deploy Infrastructure

on: 
    workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: hashicorp/setup-terraform@v3

    - run: |
        cd infra/live/dev
        terraform init
        terraform apply -auto-approve